html,body{width:100%; height:100%}
body,p,h1,h2,h3,h4,h5,h6,ul,ol,li,dl,dt,dl,dd,table,th,td,form,fieldset,legend,input,textarea,body,input{
    margin: 0;
    padding: 0;
}
body,input,textarea,select,button,table{
    font-family: 'Malgun Gothic' sans-serif;
}
a{text-decoration: none;}
a:hover{text-decoration: underline;}
li,ul{
    list-style: none;
}

/* style */

.gallery{
    /* display: inline-block; */
    width: 860px;
    margin: 0 auto;
    /* border: 1px solid; */
}

.gallery__list{
    border-style: solid none solid none;
    border-color: #bbb transparent #ccc transparent;
    border-width: 1px 0 1px 0;
    z-index: 999;
    
    margin-top: 15px;
    
}

.gallery__list::after{
    content: '';
    display: block;
    clear: both;
}

.gallery__item{
    
    float: left;
    padding: 15px 5px;
    
    border-bottom-style: solid;
    border-bottom-color: #eee;
    border-bottom-width: 1px;
}
.gallery__item:hover .gallery__item-tag{
    display: block;
}

.gallery__item-box{
    position: relative;
}

.gallery__item-title{
    display: block;

    color: #333;
    font-weight: bold;
}

.gallery__item-tag{
    display: none;
    position: absolute;
    left: 0px;
    top: 0px;

    width: 120px;
    height: 120px;

    background-color: #0005;
    line-height: 120px;
    text-align: center;
    color: white;
    font-weight: bold;
}


.gallery__date{
    font-size: 12px;
    color: #555;
}


